.advantages {
    padding: 73px 0 65px 0;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 237px;
    }
    &__subtitle {
        margin-top: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        a {
            color: #ff0000;
            text-decoration: underline;
            &:hover {
                color: black;
            }
        }
    }
}