.catalog {
    padding-bottom: 103px;
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        margin-top: 45px;
    }
    &__tab {
        margin: 0 5px;
        width: 222px;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        text-transform: uppercase;
        color: #6B6B6B;
        text-align: center;
        transform: skewX(-28deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div {
            transform: skewX(28deg);
        }
        &_active {
            background: $main-color;
            color: #FFFFFF;
            border: none;
        }
    }
    &__content {
        display: none;
        /* Aby ukryć domyślnie 2 i 3 tab, natomiast dymyślnie aktywnym zostawić tylko 1 */
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 60px;
        &_active {
            display: flex;
            /* Aby ukryć domyślnie 2 i 3 tab, natomiast dymyślnie aktywnym zostawić tylko 1 */
        }
    }
    &-item {
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 25px 20px;
        overflow: hidden;
        margin-top: 20px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            color: #0D0D0D;
            text-align: center;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: $main-color;
            &:hover {
                color: $main-color
            }
        }
        hr {
            background: #E8E8E8;
            margin-top: 19px;
            margin-bottom: 17px;
            border-bottom: none;
        }
        &__cover {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            color: #555555;
            text-decoration: line-through;
        }
        &__new-price {
            font-weight: 700;
            font-size: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 20px;
            margin-right: 0;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            /*aby dodać "kwadraciki w li"*/
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 19px;
            /* gdyż ul ma swoje domyślne style */
            margin-bottom: 0;
            /* gdyż ul ma swoje domyślne style */
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                /*aby dodać "kwadraciki w li"*/
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    /*aby dodać "kwadraciki w li"*/
                    width: 5px;
                    height: 5px;
                    left: -14px;
                    background-color: $main-color;
                    top: 8px;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            font-weight: 500;
            font-size: 14px;
            text-decoration-line: underline;
            color: $main-color;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
    }
}