.feed-form {
    margin-top: 36px;
    width: 303px;
    display: flex;
    flex-direction: column;
    input {
        height: 54px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 300;
        color: #4B4B4B;
        background: #FFFFFF;
        margin-bottom: 15px;
        border: none;
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
}